bs4
typer
requests
colorama
packaging

Sphinx
rinohtype

flake8
black>=23.1.0 

coverage
codecov

mypy>=0.991
pytest
pytest-cov
pytest-sugar

types-PyYAML
types-requests
types-beautifulsoup4
types-setuptools
types-colorama

sphinx-readable-theme
sphinx-material
sphinx-nameko-theme
furo
sphinx-design
