bs4
requests
colorama
packaging

Sphinx

flake8
black>=23.1.0 

coverage
codecov

mypy>=0.991
pytest
pytest-cov
pytest-sugar

types-PyYAML
types-requests
types-beautifulsoup4
types-setuptools
types-colorama
